@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  /* background: linear-gradient(rgb(87, 94, 109, 0.8), rgb(87, 94, 109, 0.8)),
    url("https://image.shutterstock.com/z/stock-photo-green-leaf-pattern-on-the-surface-449893840.jpg"); */
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
  background: #AE4975;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #85305A, #AE4975);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #85305A, #AE4975); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

a {
  text-decoration: none;
  color: black;
}


main {
  padding-top: 75px;
  min-height: 1000px;
}
