.contentSection {
  padding: 5% 10%;
  h1 {
    font-family: 'Libre Baskerville', serif;
  }
  .contentWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    .content {
      background-color: red;
    }
  }
}

