.contentSection {
  color: white;
}
.contentSection h1 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  min-width: 90vw;
}
.contentSection .contentWrapper .gridLayoutWrapper {
  width: 100%;
}
.contentSection .contentWrapper .gridLayout {
  display: grid;
  grid-template-columns: 1fr;
}
.contentSection .contentWrapper .gridLayout.threeGrid {
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 1129px) {
  .contentSection .contentWrapper .gridLayout.threeGrid {
    grid-template-columns: 1fr;
  }
}
.contentSection .contentWrapper .gridLayout.fourGrid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1129px) {
  .contentSection .contentWrapper .gridLayout.fourGrid {
    grid-template-columns: 1fr;
  }
}
.contentSection .contentWrapper .gridLayout.twoGrid {
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1129px) {
  .contentSection .contentWrapper .gridLayout.twoGrid {
    grid-template-columns: 1fr;
  }
}
.contentSection .contentWrapper .videoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contentSection .contentWrapper .videoList video{
  width: 36%;
  margin-bottom: 10px;
  margin-right: 5px;
  cursor: pointer;
}
@media screen and (max-width: 1129px) {
  .contentSection .contentWrapper .videoList video{
    width: 100%;
  }
}
.contentSection .contentWrapper .alignLeft .content {
  justify-content: flex-start;
}
.contentSection .contentWrapper .hiddenContent {
  position: absolute !important;
  overflow: auto;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  min-height: auto !important;
  background: white;
  color: black;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.contentSection .contentWrapper .hiddenContent.showHiddenContent {
  opacity: 1;
  z-index: 0;
}
.contentSection .contentWrapper .hiddenContent p {
  text-align: left !important;
  font-size: 0.8em !important;
}
.contentSection .contentWrapper .content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 450px;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  padding: 50px 0;
}
.contentSection .contentWrapper .content .backgroundImage {
  opacity: 0.6;
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.contentSection .contentWrapper .content .childrenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.contentSection .contentWrapper .content .childrenWrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contentSection .contentWrapper .content .childrenWrapper > div > * {
  align-self: center;
}
.contentSection .contentWrapper .content.white {
  color: white;
}
.contentSection .contentWrapper .content.videoSection .video {
  background-color: black;
  width: 80vw;
  height: 600px;
}
.contentSection .contentWrapper .content h2 {
  margin: 0;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
.contentSection .contentWrapper .content h3 {
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
}
.contentSection .contentWrapper .content .icon {
  height: 50px;
  width: 50px;
  margin: 10px 30px;
}
.contentSection .contentWrapper .content p {
  font-size: 0.9em;
  margin: 0 10%;
  padding: 20px;
  min-width: 90%;
  text-align: center;
}
.contentSection .contentWrapper .content p.comingSoon {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}
.contentSection .contentWrapper .content .formWrapper {
  width: 50%;
}
.contentSection .contentWrapper .content form {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
}
.contentSection .contentWrapper .content input[type="text"],
.contentSection .contentWrapper .content input[type="email"],
.contentSection .contentWrapper .content textarea {
  width: 100%;
  display: block;
  border: 3px solid black;
  outline: none;
  padding: 10px;
  background: white;
  margin: 5px 0;
}
.contentSection .contentWrapper .content button {
  background: none;
  outline: none;
  padding: 10px 20px;
  margin: 20px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  font-weight: 700;
  cursor: pointer;
  border: 3px solid white;
  color: white;
  width: max-content;
}
.contentSection .contentWrapper .content button.black {
  border: 3px solid black;
  color: black;
}
.contentSection .contentWrapper .content button.white {
  border: 3px solid white;
  color: white;
}
.contentSection .contentWrapper .content button.close {
  float: right;
  padding: 5px 10px;
}
.contentSection .contentWrapper .content button:hover {
  opacity: 0.5;
}
.contentSection .contentWrapper .content table td {
  padding: 10px;
  vertical-align: text-top;
}
