html {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.contentSection {
  padding: 5% 10%;
  h1 {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
  }
  .contentWrapper {
    display: grid;
    // grid-template-columns: 50% 50%;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    .content {
      justify-self: center;
      align-self: center;
      overflow: hidden;
      width: 100%;
      text-align: center;
      img {
        object-fit: cover;
      }
    }
  }
}
