.footer {
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 300;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0 20px;
      margin: 0;
      cursor: pointer;
      display: inline-block;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .formWrapper {
    display: flex;
    justify-content: center;
    form#contactUs {
      width: 50%;
      input, textarea {
        display: block;
        width: 100%;
        border: 3px solid black;
        outline: none;
        padding: 10px;
        background: white;
        margin: 10px 0;
      }
    }
    button {
      background: none;
      outline: none;
      padding: 10px 20px;
      margin: 20px;
      font-family: inherit;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      font-weight: 700;
      cursor: pointer;
      border: 3px solid white;
      color: white;
      width: max-content;
      &.black {
        border: 3px solid black;
        color: black;
      }
      &.white {
        border: 3px solid white;
        color: white;
      }
      &.close {
        float: right;
        padding: 5px 10px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
