.header {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  padding: 30px;
  background-color: #eeeeee;
  & > * {
    display: inline-block;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
  }
  ul.nav {
    float: right;
    font-size: 0.9em;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    & > li {
      text-align: center;
      display: inline-block;
      margin: 0 10px;
      padding: 0 20px;
      position: relative;
      &:hover {
        ul.subNav {
          height: 300px;
        }
      }
      ul.subNav {
        -webkit-transition: height 300ms linear 0s;
        -moz-transition: height 300ms linear 0s;
        -ms-transition: height 300ms linear 0s;
        -o-transition: height 300ms linear 0s;
        transition: height 300ms linear 0s;
        height: 0;
        position: absolute;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style-type: none;
        //background-color: white;
        & > li {
          text-wrap: none;
          margin: 0;
          padding: 20px 20px 10px 0;
          text-align: left;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.brackets {
  & > li:before, & > li:after {
    position: absolute;
    opacity: 0;
    top: 0px;
    transition: all 0.3s;
  }
  & > li:before {
    font-weight: bold;
    content: '(';
    left: 0px;
    transform: translateX(10px);
  }
  & > li:after {
    font-weight: bold;
    content: ')';
    right: 0px;
    transform: translateX(-10px);
  }
  & > li:hover:before, & > li:hover:after {
    font-weight: bold;
    opacity: 1;
    transform: translateX(0px);
  }

}