// less-watch-compiler styles styles

.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 10;

  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;



  background: white;
  //-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  //-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  //box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);


  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  padding: 25px;
  & > * {
    display: inline-block;
  }
  h1 {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    white-space: nowrap;
    vertical-align: super;
    //font-family: 'Libre Baskerville', serif;
  }
  .logo {
    & > *  {
      display: inline-block;
    }
    img {
      height: 30px;
      margin-right: 10px;
    }
  }
  ul.nav {
    font-weight: 300;
    -webkit-transition: right 300ms linear 0s;
    -moz-transition: right 300ms linear 0s;
    -ms-transition: right 300ms linear 0s;
    -o-transition: right 300ms linear 0s;
    transition: right 300ms linear 0s;
    @media screen and (max-width: 1129px){
      right: -120%;
      z-index: 1;
      position: fixed;
      top: 0;
      height: 100%;
      margin: 0;
      padding: 50px 0;
      width: 100%;
      background-color: #eeeeee;
      & > li {
        padding: 10px 0 !important;
        display: block !important;
      }
      &.active {
        right: 0;
      }
    }
    float: right;
    font-size: 0.9em;
    text-align: center;
    margin-right: 30px;
    padding: 0;
    list-style-type: none;
    & > li {
      text-align: center;
      display: inline-block;
      // margin: 0 10px;
      padding: 0 30px;
      position: relative;
      &.bold {
        font-weight: 700;
      }
      &.border {
        border: 3px solid #83a4d4;
        border-radius: 5px;
        padding: 5px 10px;
      }
      @media screen and (min-width: 1129px){
        &:hover {
          ul.subNav {
            height: 500px;
          }
        }
      }
      .subNavArrow {
        width: 10px;
        height: 10px;
        margin-left: 10px;
      }
      ul.subNav {
        // -webkit-transition: height 300ms linear 0s;
        // -moz-transition: height 300ms linear 0s;
        // -ms-transition: height 300ms linear 0s;
        // -o-transition: height 300ms linear 0s;
        // transition: height 300ms linear 0s;
        height: 0;
        width: 100%;
        position: absolute;
        overflow: hidden;
        left: 0;
        margin: 0;
        padding: 10px 0 0 0;
        list-style-type: none;
        //border-radius: 5px;
        //-webkit-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.5);
        //-moz-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.5);
        //box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.5);
        & > li {
          background-color: white;
          text-wrap: none;
          margin: 0;
          padding: 10px 20px;
          text-align: center;
          &:hover {
            background-color: #eeeeee;
          }
        }
        &.showSubNav {
          position: inherit;
          height: 100%;
          left: 0;
        }
      }
    }
  }
}

.menuButton {
  float: right;
  display: none;
  img {
    height: 20px;
    width: 20px;
  }
  @media screen and (max-width: 1129px){
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
  }
}

.brackets {
  @media screen and (min-width: 1129px){
    & > li:before, & > li:after {
      position: absolute;
      opacity: 0;
      top: 0px;
      transition: all 0.3s;
    }
    & > li:before {
      font-weight: bold;
      content: '(';
      left: 0px;
      transform: translateX(10px);
    }
    & > li:after {
      font-weight: bold;
      content: ')';
      right: 0px;
      transform: translateX(-10px);
    }
    & > li:hover:before, & > li:hover:after {
      font-weight: bold;
      opacity: 1;
      transform: translateX(0px);
    }
  }


}
