.header {
  padding: 20px;
  background-color: #eeeeee;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0;
      padding: 0 10px;
      &:first-child {
        padding-right: 100px;
      }
    }
  }
}
