.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  background: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  padding: 25px;
}
.header > * {
  display: inline-block;
}
.header h1 {
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
  vertical-align: super;
}
.header .logo > * {
  display: inline-block;
}
.header .logo img {
  height: 30px;
  margin-right: 10px;
}
.header ul.nav {
  font-weight: 300;
  -webkit-transition: right 300ms linear 0s;
  -moz-transition: right 300ms linear 0s;
  -ms-transition: right 300ms linear 0s;
  -o-transition: right 300ms linear 0s;
  transition: right 300ms linear 0s;
  float: right;
  font-size: 0.9em;
  text-align: center;
  margin-right: 30px;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 1129px) {
  .header ul.nav {
    right: -120%;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    width: 100%;
    background-color: #eeeeee;
  }
  .header ul.nav > li {
    padding: 10px 0 !important;
    display: block !important;
  }
  .header ul.nav.active {
    right: 0;
  }
}
.header ul.nav > li {
  text-align: center;
  display: inline-block;
  padding: 0 30px;
  position: relative;
}
.header ul.nav > li.bold {
  font-weight: 700;
}
.header ul.nav > li.border {
  border: 3px solid #83a4d4;
  border-radius: 5px;
  padding: 5px 10px;
}
@media screen and (min-width: 1129px) {
  .header ul.nav > li:hover ul.subNav {
    height: 500px;
  }
}
.header ul.nav > li .subNavArrow {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}
.header ul.nav > li ul.subNav {
  height: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  margin: 0;
  padding: 10px 0 0 0;
  list-style-type: none;
}
.header ul.nav > li ul.subNav > li {
  background-color: white;
  text-wrap: none;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}
.header ul.nav > li ul.subNav > li:hover {
  background-color: #eeeeee;
}
.header ul.nav > li ul.subNav.showSubNav {
  position: inherit;
  height: 100%;
  left: 0;
}
.menuButton {
  float: right;
  display: none;
}
.menuButton img {
  height: 20px;
  width: 20px;
}
@media screen and (max-width: 1129px) {
  .menuButton {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px;
  }
}
@media screen and (min-width: 1129px) {
  .brackets > li:before,
  .brackets > li:after {
    position: absolute;
    opacity: 0;
    top: 0px;
    transition: all 0.3s;
  }
  .brackets > li:before {
    font-weight: bold;
    content: '(';
    left: 0px;
    transform: translateX(10px);
  }
  .brackets > li:after {
    font-weight: bold;
    content: ')';
    right: 0px;
    transform: translateX(-10px);
  }
  .brackets > li:hover:before,
  .brackets > li:hover:after {
    font-weight: bold;
    opacity: 1;
    transform: translateX(0px);
  }
}
