.imageSlider {
  max-height: 500px;
  overflow: hidden;
}
.imageSlider img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center top;
  width: 100%;
  -webkit-transition: left 300ms linear 0s;
  -moz-transition: left 300ms linear 0s;
  -ms-transition: left 300ms linear 0s;
  -o-transition: left 300ms linear 0s;
  transition: left 300ms linear 0s;
}
.imageSlider img.hide {
  left: -100%;
}
.imageSlider .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.imageSlider .controls .controlButton {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid white;
  margin: 10px;
}
.imageSlider .controls .controlButton.active {
  background-color: white;
}
